.top {
    text-shadow: 0 1px black;
    background-color: rgba(5,5,5,.95);
    border-radius: 20px;
    z-index: 10;
    position: absolute;
    left: 5px;
    top: 55px;
    overflow-y: scroll;
    max-height: 590px;
}

.top__table {
    font-size: 1.8rem;
    color: white;
}

.top__th {
    text-align: center;
    padding: 15px 10px;
}
